<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="sign-up">

<form action="dashboard.html">
            <h1>Admin </h1>
            <fieldset class="top">
                <label>
                    <i>👤</i>
                </label>
                <input type="text" name="username" placeholder="Username" required>
            </fieldset>

            <fieldset>
                <label>
                    <i>🔒</i>
                </label>
                <input type="password" name="password" placeholder="Password" required>
            </fieldset>

            <button type="submit">Login</button>
        
        <a href="index.html" class="exit-btn">✖ Exit</a>
        </form>

        <img src="css/mony.png" alt="money">

    </div>

   
</body>
</html>


